name: tests

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main

jobs:
    tests:
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: true
            matrix:
                os: [ ubuntu-latest ]
                php: [ 8.3, 8.2, 8.1, 8.0, 7.4 ]
                laravel: [ 11.*, 10.*, 9.*, 8.*, 7.*, 6.* ]
                stability: [ prefer-lowest, prefer-stable ]
                include:
                    -   laravel: 11.*
                        testbench: 9.*
                        carbon: ^2.63
                    -   laravel: 10.*
                        testbench: 8.*
                        carbon: ^2.63
                    -   laravel: 9.*
                        testbench: 7.*
                        carbon: ^2.63
                    -   laravel: 8.*
                        testbench: 6.*
                        carbon: ^2.63
                    -   laravel: 7.*
                        testbench: 5.*
                        carbon: ^2.63
                    -   laravel: 6.*
                        testbench: 4.*
                        carbon: ^2.63
                exclude:
                    -   laravel: 11.*
                        php: 8.1
                    -   laravel: 11.*
                        php: 8.0
                    -   laravel: 11.*
                        php: 7.4
                    -   laravel: 10.*
                        php: 8.0
                    -   laravel: 10.*
                        php: 7.4
                    -   laravel: 9.*
                        php: 7.4

        name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Install SQLite 3
                run: |
                    sudo apt-get update
                    sudo apt-get install sqlite3 -y

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: curl, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, iconv
                    coverage: none\

            -   name: Install dependencies
                run: |
                    composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" "nesbot/carbon:${{ matrix.carbon }}" --no-interaction --no-update
                    composer update --${{ matrix.stability }} --prefer-dist --no-interaction

            -   name: Execute tests
                run: vendor/bin/phpunit
